<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Course</title>
  <script src="js/jquery.js"> </script>
  <script lang="javascript" src="js/xlsx.full.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.4/chance.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>
  <link href="https://cdn.bootcdn.net/ajax/libs/bulma/0.0.10/css/bulma.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"
    integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww=="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
</head>

<body>
  <div id="app" class="container">
   

    <h3 class="title is-3 ">選課不衝突神器</h3>
    <h5 class="subtitle is-5"></h5>

    <input type="file" id="fileUploader" name="fileUploader" accept=".xls, .xlsx" />

    <a class="button is-info" v-on:click="submitCourseExcel()">
      提交
    </a>
    </br></br>
    <label id="jsonObject"> </label>

    <div class="box m-form">
      <div class="control is-grouped">
        <p class="control is-expanded">
          <input class="input" v-model="lessonCode" v-on:keyup="searchInTheList(searchItem)" type="text"
            placeholder="請輸入課程代號" />
        </p>

        <p class="control is-expanded">
          <input class="input" v-model="coursename" v-on:keyup="searchInTheList(searchItem)" type="text"
            placeholder="課程名稱" />
        </p>


        <p class="control is-expanded">
          <input class="input" v-model="scheduleTime1" v-on:keyup="searchInTheList(searchItem)" type="text"
            placeholder="第一節課 (一)1" />
        </p>

        <p class="control is-expanded">
          <input class="input" v-model="scheduleTime2" v-on:keyup="searchInTheList(searchItem)" type="text"
            placeholder="第二節課(六)6" />
        </p>

        <p class="control is-expanded">
          <input class="input" v-model="scheduleTime3" v-on:keyup="searchInTheList(searchItem)" type="text"
            placeholder="第三節課(日)3" />
        </p>

        <p class="control">
          <a class="button is-info" v-on:click="submitCourse()"
            v-bind:class="{'is-disabled': lessonCode== undefined || scheduleTime1== undefined }">
            提交
          </a>
        </p>
      </div>


      <div class="box m-form">
        <div class="control is-grouped">
          <p class="control is-expanded">
            <input class="input" v-model="lessonCode" v-on:keyup="searchInTheList(searchItem)" type="text"
              placeholder="請輸入課程代號" />
          </p>
  
          <p class="control is-expanded">
            <input class="input" v-model="coursename" v-on:keyup="searchInTheList(searchItem)" type="text"
              placeholder="課程名稱" />
          </p>

          <p class="control is-expanded">
            <input class="input" v-model="scheduleTime1" v-on:keyup="submitCourse2()" type="text"
              placeholder="AI 輸入" />
          </p>


     
          <p class="control">
            <a class="button is-info" v-on:click="submitCourse2()"
              v-bind:class="{'is-disabled': lessonCode== undefined || scheduleTime1== undefined }">
              提交
            </a>
          </p>
        </div>


      <span>
        課程代號:
        <span style="color: rgb(255, 127, 148)">{{lessonCode}}</span>
        課程名稱:
        <span style="color: rgb(255, 127, 148)">{{coursename}}</span>
        第一節課:
        <span style="color: rgb(255, 127, 148)">{{scheduleTime1}}</span>
        第二節課:
        <span style="color: rgb(255, 127, 148)"> {{scheduleTime2}} </span>
        第三節課:<span style="color: rgb(255, 127, 148)">{{scheduleTime3}}</span>
      </span>
      <br />
      <br />
      <label class="label">搜查課程代號</label>
      <div class="control is-grouped">
        <p class="control is-expanded">
          <input class="input" v-model="searchItem" v-on:keyup="searchInTheList(searchItem)" type="text"
            placeholder="搜查課程代號" />
          <span  v-if="!openSelectedlist" class="help is-dark"><strong>{{filteredItems.length | numeral}}</strong> of
            {{items.length | numeral}} 筆資料 
          {{items.length - filteredItems.length - selectedItems.length   | numeral}} 筆資料因時間衝突不顯示 </span>
        </p>
        <p class="control">
          <a class="button is-info" v-on:click="clearSearchItem" v-bind:class="{'is-disabled': searchItem==''}">
            清除  
          </a>
        </p>
      </div>
    </div>
    <div class="box m-tags">
      <span><strong>{{selectedItems.length}}</strong> 筆資料已選取</span>

      <div class="m-tags-items">
        <a v-for="item in selectedItems" v-on:click="removeSelectedItem(item)" class="tag is-dark is-small">
          {{item.name}} {{item.names}}
          <button class="delete is-small"></button>
        </a>
      </div>
    </div>


    <nav class="pagination m-pagination">
      <a class="button" v-on:click="selectPage(pagination.items[0])"
        v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.items[0] || this.pagination.items.length==0}">
        First
      </a>
      <a class="button" v-on:click="selectPage(this.pagination.currentPage-1)"
        v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.items[0] || this.pagination.items.length==0}">Previous</a>
      <span v-for="item in pagination.filteredItems">
        <a class="button" v-on:click="selectPage(item)"
          v-bind:class="{'is-info': item == pagination.currentPage}">{{item | numeral}}</a>
      </span>
      <a class="button" v-on:click="selectPage(this.pagination.currentPage+1)"
        v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.items[this.pagination.items.length-1] || this.pagination.items.length==0}">Next
        page</a>
      <a class="button" v-on:click="selectPage(pagination.items[pagination.items.length-1])"
        v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.items[this.pagination.items.length-1] || this.pagination.items.length==0}">
        Last
      </a>
      <a class="button is-danger is-outlined" v-on:click="clearAllItem()">清除所有資料</a>
      <a v-if="openSelectedlist" class="button is-info is-outlined" v-on:click="searchInTheList4()">顯示所有可選資料</a>
      <a v-if="!openSelectedlist" class="button is-success is-outlined" v-on:click="showAlreadySelect()">顯示已選取的資料</a>
      <button v-if="openSelectedlist" class="button is-warning is-outlined" v-on:click="exportSaveFile()">匯出已選課表</button>
      <br v-if="openDescription" ><br v-if="openDescription" >
      <A1 v-if="openDescription" ><strong > 以下表格資料為 <a style="color: crimson;">隨機生成</a>，其生成資料為供使用者測試用，請按<a style="color: indianred;" v-on:click="clearAllItem()" >清除所有資料按鈕</a>後使用</strong></A1>
      <br v-if="openDescription" >
      <A1 v-if="openDescription" ><strong > 選擇對應項目後，系統會自動排除相同時間科目而不顯示，使用者可以再選擇剩下科目而不會發生衝突，如此類推</strong></A1>
    </nav>
    <div class="m-table">
      <table class="table is-bordered is-striped is-narrow">
        <tr>
          <th class="m-table-index">#</th>
          <th>課程代號</th>
          <th>課程名稱</th>
          <th>第一節</th>
          <th>第二節</th>
          <th>第三節</th>
          <th v-if="!openSelectedlist">選取/刪除</th>
        </tr>

        <tr v-for="item in paginatedItems">
          <td>{{item.key}}</td>
          <td>{{item.name}}</td>
          <td>{{item.names}}</td>
          <td>{{item.email}}</td>
          <td>{{item.address}}</td>
          <td>{{item.phone}}</td>
          <td v-if="!openSelectedlist">
            <a  class="button is-info is-outlined" v-on:click="selectItem(item)">Select</a>
            <a  class="button is-danger is-outlined" v-on:click="deleteItem(item)">Delete</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
 
  <style>
    #app {
      padding: 40px 0;
    }

    .m-pagination .is-space {
      width: 20px;
    }

    .m-table {
      margin-top: 20px;
    }

    .m-table tr th {
      background: #c0c0c0;
      color: #393939;
    }

    .m-table-index {
      width: 20px;
    }

    .m-tags-items {
      margin-top: 5px;
      height: 60px;
      overflow-y: scroll;
    }

    .m-tags-items .tag {
      margin-bottom: 5px;
      margin-right: 3px;
    }
  </style>

  <script>
    let items = [];
    for (var i = 0; i < `${chance.natural({ min: 10, max: 20 })}`; i++) {
      items.push({
        key: i + 1,
        ssn: chance.ssn(), // SSN as person ID
        name: `${chance.natural({ min: 1000, max: 9999 })}`,
        names: chance.sentence({ words: 3 }),
        email:
          `(${chance.character({ pool: '一二三四五' })})` +
          `${chance.natural({ min: 1, max: 9 })}`,
        address:
          `(${chance.character({ pool: '一二三四五' })})` +
          `${chance.natural({ min: 1, max: 9 })}`,
        phone:
          `(${chance.character({ pool: '一二三四五' })})` +
          `${chance.natural({ min: 1, max: 9 })}`,
        selected: false,
      });
    }
    var XL_row_object = [];
    $(document).ready(function () {
      $("#fileUploader").change(function (evt) {
        var selectedFile = evt.target.files[0];
        var reader = new FileReader();
        reader.onload = function (event) {
          var data = event.target.result;
          var workbook = XLSX.read(data, {
            type: 'binary'
          });
          workbook.SheetNames.forEach(function (sheetName) {
            XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
            if (XL_row_object.length > 0) {
              //  document.getElementById("jsonObject").innerHTML = JSON.stringify(XL_row_object);
            }
          })
        };
        reader.onerror = function (event) {
          console.error("File could not be read! Code " + event.target.error.code);
        };
        reader.readAsBinaryString(selectedFile);
      });
    });

    Vue.filter("numeral", function (value) {
      return numeral(value).format("0,0");
    });

    new Vue({
      el: "#app",
      data: {
        openDescription :  true ,
        openSelectedlist : false ,
        coursename: undefined,
        lessonCode: undefined,
        scheduleTime1: undefined,
        scheduleTime2: undefined,
        scheduleTime3: undefined,
        searchItem: undefined,
        items: items,
        filteredItems: [],
        paginatedItems: [],
        selectedItems: [],
        pagination: {
          range: 5,
          currentPage: 1,
          itemPerPage: 8,
          items: [],
          filteredItems: [],
        },
      },
      ready() {
        this.filteredItems = this.items;
        this.buildPagination();
        this.selectPage(1);
      },
      methods: {
        exportSaveFile() {
        if(this.selectedItems[0] == undefined){
          alert("未選擇任何課程");
          return ;
        }
        var exportSaveFiles = this.items.filter(function(item, index, array){
          return item.selectedOutput == true;       
        });

        exportSaveFiles.forEach(function(item, index, array){
          item.課程代號 = item.name ;
          item.課程名稱 = item.names ;
          item.第一節 = item.email ;
          item.第二節 = item.address ;
          item.第三節 = item.phone ;

          delete item.name ;
          delete item.names ;
          delete item.email ;
          delete item.address ;
          delete item.phone ;

          delete item.selected ;
          delete item.selectedOutput;
          delete item.ssn;
        });

        var data1 = exportSaveFiles;
        var opts = [{sheetid:'One',header:false}];
        var res = alasql('SELECT * INTO XLSX("restest344b.xlsx",?) FROM ?',
                        [opts,[data1]]);

        },
        clearSearchItem() {
          this.searchItem = undefined;
          this.searchInTheList("",this.pagination.currentPage);
        },
        submitCourse() {
          if (
            this.lessonCode == undefined ||
            this.lessonCode == null ||
            this.lessonCode == ""
          ) {
            alert("請輸入課程代號");
            return;
          }

          if (
            this.coursename == undefined ||
            this.coursename == null ||
            this.coursename == ""
          ) {
            alert("請輸入課程名稱");
            return;
          }


          if (
            this.scheduleTime1 == undefined ||
            this.scheduleTime1 == null ||
            this.scheduleTime1 == ""
          ) {
            alert("至少輸入一節課表");
            return;
          }

          if (
            this.scheduleTime2 == undefined ||
            this.scheduleTime2 == null ||
            this.scheduleTime2 == ""
          ) {
            this.scheduleTime2 = "****";
          }

          if (
            this.scheduleTime3 == undefined ||
            this.scheduleTime3 == null ||
            this.scheduleTime3 == ""
          ) {
            this.scheduleTime3 = "****";
          }

          this.items.push({
            names: this.coursename,
            ssn: chance.ssn(), // SSN as person ID
            name: this.lessonCode,
            email: this.scheduleTime1,
            address: this.scheduleTime2,
            phone: this.scheduleTime3,
            selected: false,
            selectedOutput: false,
          });
          this.searchInTheList4(0, this.pagination.items.length || this.pagination.items.length==0 );
          this.lessonCode = undefined;
          this.scheduleTime1 = undefined;
          this.scheduleTime2 = undefined;
          this.scheduleTime3 = undefined;
          this.coursename = undefined;
        },
        submitCourse2() {
        //   coursename: undefined,
        // lessonCode: undefined,
        // scheduleTime1: undefined,
        // scheduleTime2: undefined,
        // scheduleTime3: undefined,

          

          this.scheduleTime1 = this.scheduleTime1.replace(/\s+/g, " ");
          this.scheduleTime1 = this.scheduleTime1.split(" ");
          // let bool = array[2].charAt(0) == '(';

          this.scheduleTime1 = this.scheduleTime1.filter(function(item, index, array){
          return item.charAt(0) == '(';    
        });
        this.scheduleTime2 = '' ;
        this.scheduleTime3 = '' ;

        let sc2 = this.scheduleTime1;
        // console.log(this.scheduleTime2);
        // this.scheduleTime2 = this.scheduleTime1[1]; 

        for (let index = 0; index < sc2.length ; index++) {
          console.log(index);
          this.scheduleTime = this.scheduleTime1[index];
        }

        // console.log(sc2);
        // sc2.forEach(function(item, index, array){
        //   console.log(index);
        //    this.scheduleTime[index + 1] = this.scheduleTime1[index];
        // });
        // console.log(this.scheduleTime2);

        },
        showAlreadySelect(){
          if (_.isUndefined()) {
            this.filteredItems = _.filter(this.items, function (v, k) {
              return v.selected && v.selectedOutput
            });
            this.openSelectedlist = true ;
          } else {
            this.filteredItems = _.filter(this.items, function (v, k) {
              return (
                v.selected && v.selectedOutput
              );
            });
            this.openSelectedlist = true ;
          }
          this.filteredItems.forEach(function (v, k) {
            v.key = k + 1;
          });
          this.buildPagination();

          if (_.isUndefined()) {
            this.selectPage(1);
          } else {
            this.selectPage();
          }
        },
        searchInTheList(searchText, currentPage) {
          if (_.isUndefined(searchText)) {
            this.filteredItems = _.filter(this.items, function (v, k) {
              return !v.selected;
            });
          } else {
            this.filteredItems = _.filter(this.items, function (v, k) {
              return (
                !v.selected &&
                v.name.toLowerCase().indexOf(searchText.toLowerCase()) > -1
              );
            });
          }
          this.filteredItems.forEach(function (v, k) {
            v.key = k + 1;
          });
          this.buildPagination();

          if (_.isUndefined(currentPage)) {
            this.selectPage(1);
          } else {
            this.selectPage(currentPage);
          }
        },
        searchInTheList2(searchText, currentPage) {
          if (_.isUndefined(searchText)) {
            this.filteredItems = _.filter(this.items, function (v, k) {
              return !v.selected;
            });
          } else {
            this.filteredItems = _.filter(this.items, function (v, k) {
              if (
                v.email == searchText
              ) {
                v.selected = true;
              } else if (v.email.toLowerCase().indexOf(searchText.toLowerCase()) > -1) {
                v.selected = true;
              }

              if (
                v.address == searchText
              ) {
                v.selected = true;
              } else if (v.address.toLowerCase().indexOf(searchText.toLowerCase()) > -1) {
                v.selected = true;
              }

              if (
                v.phone == searchText
              ) {
                v.selected = true;
              } else if (v.phone.toLowerCase().indexOf(searchText.toLowerCase()) > -1) {
                v.selected = true;
              }

              return !v.selected;
            });
          }
          this.filteredItems.forEach(function (v, k) {
            v.key = k + 1;
          });
          this.buildPagination();

          if (_.isUndefined(currentPage)) {
            this.selectPage(1);
          } else {
            this.selectPage(currentPage);
          }
        },
        searchInTheList3(searchText, currentPage) {
          if (_.isUndefined(searchText)) {
            this.filteredItems = _.filter(this.items, function (v, k) {
              return !v.selected;
            });
          } else {
            this.filteredItems = _.filter(this.items, function (v, k) {
              if (
                v.email == searchText
              ) {
                v.selected = false;
              } else if (v.email.toLowerCase().indexOf(searchText.toLowerCase()) > -1) {
                v.selected = false;
              }
              if (
                v.address == searchText
              ) {
                v.selected = false;
              } else if (v.address.toLowerCase().indexOf(searchText.toLowerCase()) > -1) {
                v.selected = false;
              }

              if (
                v.phone == searchText
              ) {
                v.selected = false;
              } else if (v.phone.toLowerCase().indexOf(searchText.toLowerCase()) > -1) {
                v.selected = false;
              }
              return !v.selected;
            });
          }
          this.filteredItems.forEach(function (v, k) {
            v.key = k + 1;
          });
          this.buildPagination();

          if (_.isUndefined(currentPage)) {
            this.selectPage(1);
          } else {
            this.selectPage(currentPage);
          }
        },
        
        buildPagination() {
          let numberOfPage = Math.ceil(
            this.filteredItems.length / this.pagination.itemPerPage
          );
          this.pagination.items = [];
          for (var i = 0; i < numberOfPage; i++) {
            this.pagination.items.push(i + 1);
          }
        },
        searchInTheList4(searchText, currentPage) {
          this.openSelectedlist = false;
          if (_.isUndefined(searchText)) {
            this.filteredItems = _.filter(this.items, function (v, k) {
              return !v.selected;
            });
          } else {
            this.filteredItems = _.filter(this.items, function (v, k) {
              return !v.selected;
            });
          }
          this.filteredItems.forEach(function (v, k) {
            v.key = k + 1;
          });
          this.buildPagination();

          if (_.isUndefined(currentPage)) {
            this.selectPage(1);
          } else {
            this.selectPage(currentPage);
          }
        },
        searchInTheList(searchText, currentPage) {
          if (_.isUndefined(searchText)) {
            this.filteredItems = _.filter(this.items, function (v, k) {
              return !v.selected;
            });
          } else {
            this.filteredItems = _.filter(this.items, function (v, k) {
              return (
                !v.selected &&
                v.name.toLowerCase().indexOf(searchText.toLowerCase()) > -1
              );
            });
          }
          this.filteredItems.forEach(function (v, k) {
            v.key = k + 1;
          });
          this.buildPagination();

          if (_.isUndefined(currentPage)) {
            this.selectPage(1);
          } else {
            this.selectPage(currentPage);
          }
        },
        selectPage(item) {
          this.pagination.currentPage = item;
          let start = 0;
          let end = 0;
          if (this.pagination.currentPage < this.pagination.range - 2) {
            start = 1;
            end = start + this.pagination.range - 1;
          } else if (
            this.pagination.currentPage <= this.pagination.items.length &&
            this.pagination.currentPage >
            this.pagination.items.length - this.pagination.range + 2
          ) {
            start = this.pagination.items.length - this.pagination.range + 1;
            end = this.pagination.items.length;
          } else {
            start = this.pagination.currentPage - 2;
            end = this.pagination.currentPage + 2;
          }
          if (start < 1) {
            start = 1;
          }
          if (end > this.pagination.items.length) {
            end = this.pagination.items.length;
          }

          this.pagination.filteredItems = [];
          for (var i = start; i <= end; i++) {
            this.pagination.filteredItems.push(i);
          }

          this.paginatedItems = this.filteredItems.filter((v, k) => {
            return (
              Math.ceil((k + 1) / this.pagination.itemPerPage) ==
              this.pagination.currentPage
            );
          });
        },
        clearAllItem() {
          if(confirm("清除所有資料?")){
            this.items = [];
            items = [];
            this.searchInTheList4(0, this.pagination.currentPage);
            this.openDescription = false ;
          }
        },
        selectItem(item) {
          item.selected = true;
          item.selectedOutput = true;
          this.selectedItems.push(item);
          if (item.email != "****") {
            this.searchInTheList2(item.email, this.pagination.currentPage);
          } else {
            this.searchInTheList4(0, 1);
          }

          if (item.address != "****") {
            this.searchInTheList2(item.address, this.pagination.currentPage);
          } else {
            this.searchInTheList4(0, this.pagination.currentPage);
          }

          if (item.phone != "****") {
            this.searchInTheList2(item.phone, this.pagination.currentPage);
          } else {
            this.searchInTheList4(0, this.pagination.currentPage);
          }
        },
        removeSelectedItem(item) {
          item.selected = false;
          item.selectedOutput = false;
          this.selectedItems.$remove(item);
          this.searchInTheList3(item.email, this.pagination.currentPage);
          this.searchInTheList3(item.address, this.pagination.currentPage);
          this.searchInTheList3(item.phone, this.pagination.currentPage);
          if(this.openSelectedlist == true){
             this.openSelectedlist = false;
             this.showAlreadySelect();
          }
        },
        deleteItem(item) {
          if(confirm("確定刪除?")){
            this.selectedItems.$remove(item);
            this.items.splice(item.key-1,1);
            this.searchInTheList4(0, this.pagination.currentPage);
          }
        },
        submitCourseExcel() {
          for (var i = 0; i < XL_row_object.length; i++) {
            XL_row_object[i].課程代號 = String(XL_row_object[i].課程代號)
            XL_row_object[i].課程名稱 = String(XL_row_object[i].課程名稱)
            XL_row_object[i].第一節 = String(XL_row_object[i].第一節)
            XL_row_object[i].第二節 = String(XL_row_object[i].第二節)
            XL_row_object[i].第三節 = String(XL_row_object[i].第三節)

            if (
              XL_row_object[i].課程代號 == undefined ||
              XL_row_object[i].課程代號 == null ||
              XL_row_object[i].課程代號 == ""
            ) {
              alert("請輸入課程代號");
              return;
            }

            if (
              XL_row_object[i].課程名稱 == undefined ||
              XL_row_object[i].課程名稱 == null ||
              XL_row_object[i].課程名稱 == ""
            ) {
              alert("請輸入課程名稱");
              return;
            }

            if (
              XL_row_object[i].第一節 == undefined ||
              XL_row_object[i].第一節 == null ||
              XL_row_object[i].第一節 == ""
            ) {
              alert("至少輸入一節課程");
              return;
            }

            if (
              XL_row_object[i].第二節 == undefined ||
              XL_row_object[i].第二節 == null ||
              XL_row_object[i].第二節 == ""
            ) {
              XL_row_object[i].第二節 = "****";
            }

            if (
              XL_row_object[i].第三節 == undefined ||
              XL_row_object[i].第三節 == null ||
              XL_row_object[i].第三節 == ""
            ) {
              XL_row_object[i].第三節 = "****";
            }

            this.items.push({
              names: XL_row_object[i].課程名稱,
              ssn: chance.ssn(), // SSN as person ID
              name: XL_row_object[i].課程代號,
              email: XL_row_object[i].第一節,
              address: XL_row_object[i].第二節,
              phone: XL_row_object[i].第三節,
              selected: false,
              selectedOutput: false,
            });
          }
          this.searchInTheList4(0, this.pagination.currentPage);
          alert("已增加資料");
          document.getElementById('fileUploader').value = '';
          XL_row_object = '';
        },
      },
    });
  </script>
</body>

</html>